.category-wall_v2-0{background-color: white;padding: 20px 20px 0 20px;margin-bottom: 30px;border-radius: 4px;}
.category-wall__item{position:relative;width:100%;margin:0 0 20px !important;padding:0}
.category-wall__image{display:block;position:relative;overflow:hidden}
.category-wall__image.child{border-bottom:solid 1px rgba(0 0 0 / .07);box-shadow:0 5px 5px -2px rgba(0 0 0 / .06)}
.category-wall__ul{margin:0;list-style:none}
.category-wall__ul{padding:15px 15px 35px}
.category-wall__ul.child-empty{padding:0}
.category-wall__li{margin:0 0 5px;}
.category-wall__li a{display:flex;}
.category-wall__li a:hover{color:#222}
.category-wall__title{margin:0 0 12px;font-size:1em}
.category-wall__title.child-empty{margin:0;padding:0;text-align:center}
.category-wall__more{position:absolute;bottom:15px}
.category-wall__more span{font-size:.9em;text-decoration:underline}

.category-wall__ul.child-empty a{display: block;position: absolute;bottom: 15px;right: auto;left: auto;width: 100%;color: #202020;}

.category-wall__item.type2{display:flex;padding:15px}
.category-wall__title.type2 a {color:var(--heading-c)}
.category-wall__title.type2 a:hover{color:var(--a-c-hover)}
.category-wall__image.type2{flex:0 0 40%;border:none;box-shadow:none}
.category-wall__ul.type2{max-width:60%;word-wrap:break-word;padding:0 0 25px 20px}
.category-wall__title.type2{text-align:left}
.category-wall__more.type2{color:var(--heading-c)}
.category-wall__more.type2 a:hover{color:var(--a-c-hover)}

@media (max-width:575px){
    .category-wall__image.child.type2{flex:0 0 33%}
	.category-wall__title{font-size:1em}
}