#icon-youtube{
  position: absolute;
  left: calc(50% - 15px);
}
#tab-add-video{
  padding: 20px;
}
#video-caption{
  margin: 95px 0 0;
  text-align: center;
  color: #777;
  font-size: 1.1em;
}
.ex-image-additional, .videos-thumbnails{
  float: left;
}
.all-reviews-thumbnails{
  overflow: visible;
  margin: 0;
}
.all-reviews{
  column-count: 2;
}
.review-ex{
    margin-bottom: 20px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 40px rgb(0 0 0 / 10%);
    border-radius: 4px;
}
#review-extended .uni-form{
  padding-bottom: 5px;
  border: 1px solid #e9e9e9;
}
#review-extended select{
  color: #202020;
  margin: 0;
}
#review-extended .owl-carousel{
  margin: 0 0 10px 0;
  background: inherit;
}
#review-extended .owl-pagination{
  top: -5px;
}
#review-extended .owl-pagination .owl-page span{
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.24);
  box-shadow: none;
}
#review-extended .owl-pagination .owl-page.active span{
  background: #4e94ff;
  box-shadow: 0 0 0 0.2rem rgba(43, 139, 194, 0.3);
}
#review-extended .owl-carousel .owl-wrapper-outer{
  box-shadow: none;
}
#review-extended .owl-carousel .owl-buttons div:hover{
  opacity: 1;
  background: #4e94ff;
  box-shadow: 0 0 0 0.2rem rgba(43, 139, 194, 0.5);
}
#review-extended .owl-carousel .owl-buttons div:active{
  box-shadow: 0 0 0 0.4rem rgba(0, 91, 255, 0.3);
  background: #1874ff;
}
#review-extended .owl-carousel:hover .owl-buttons div{
  opacity: 1;
}
#review-extended .owl-carousel .owl-buttons div{
  opacity: 1;
  font-size: 0;
  height: 30px;
  line-height: 46px;
  padding: 0;
  text-align: center;
  width: 30px;
  border-radius: 2px;
  background: #00000047;
  top: -35px !important;
  left: auto !important;
  color: #ffffff;
  text-shadow: none;
}
#review-extended .owl-carousel .owl-buttons i{
  font-size: 23px;
  margin: 0;
}
#review-extended .owl-carousel .owl-prev{
  right: 50px;
  padding-right: 3px !important;
}
#review-extended .owl-carousel .owl-next{
  right: 13px !important;
  padding-left: 3px !important;
}
.review-childrens-container{
  margin-left: 10%;
  padding: 10px 0;
}
.add-review-star-wrap{
  margin: 10px auto 0;
  text-align: center;
  display: flex;
  justify-content: center;
  width: fit-content;
}
.add-review-star-wrap:hover .fa{
  color: #04a74b;
  font-weight: 900;;
}
.allready-buy{
  color: #099f3f;
  padding-left: 5px;
  letter-spacing: -.5px;
}
.allready-buy .fa{
  font-size: 13px;
}
.add-review-star-wrap > div:hover ~ div .fa:before {
  color: #dbdbdb;
}
.videos-thumbnails a{
  overflow: hidden;
  position: relative;
  display: block;
  margin: 3px 2px 15px;
  box-shadow: 1px 1px 5px #00000047;
  }
.videos-thumbnails a:hover{
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.32);
}
.review-media-container{
  overflow: hidden;
  margin: 10px 0;
}
.reviews-sign{
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 10px;
}
.reviews-author{
  float: left;
  margin: 0 0 5px;
  font-weight: 500;
}
.reviews-author .purchased{
  font-weight: normal;
  margin-right: 10px;
}
.reviews-author i{
  color: #04a74b;
  font-size:16px;
}
.reviews-date{
  float: right;
  margin-right: 18px;
}
.review-container{
  padding: 20px;
  background-color:#fff;
  overflow: hidden;
  margin: 0 0 20px 0;
  border-radius: 4px;
  box-shadow: 0 0 40px rgb(0 0 0 / 10%);
}
.uni-wrap_left{
    display: flex;
    flex-direction: column;
    width: 55%;
}
.uni-wrap_right{
    display: flex;
    flex-direction: column;
    width: 45%;
}
.comment-text{
  padding-top: 15px;
  word-wrap: break-word;
  overflow: hidden;
}
.comment-text p{
  margin: 0 0 5px;
}
#review{
  margin-bottom: 20px;
}
.review-logo{
  float: left;
  border-right: 1px solid #e9e9e9;
}

.review-logo i{
  font-size: 16px;
    margin-right: 10px;
    color: #1c7ffb;
}
.review-author{
  float: left;
  margin: 0 13px;
}
.review-author-name{
  font-size: 16px;
  font-weight: 500;
}
.plus{
  display: flex;
  font-weight: 400;
  color: #04a74b;
}  
.minus{
  display: flex;
  font-weight: 400;
  color: #f84147;
}
.verification-check{
  display: inline-block;
  height: 18px;
  width: 18px;
  border-radius: 20px;
  text-align: center;
  line-height: 19px;
  vertical-align: text-bottom;
  color: #fff;
  margin: 0 5px;
  background: #04a74b;
  box-shadow: 0 0 0 0.17rem #46ae6b45;
}
.verification-check i{
  font-size: 11px;
}
.review-admin-name{
  font-weight: 400;
}
.review-date{
  float: right;
}
.review-text-container{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
}
.review-answer-title-container{
  overflow: hidden;
  padding-top: 15px;
  border-top: 1px solid #e9e9e9;
}
.review-title-container{
  overflow: hidden;
  margin: -10px -10px 0;
  padding: 5px 10px;
  border-bottom: 1px solid #e9e9e9;
}
.fa-star {
    color: #04a74b;
    font-size: 14px;
    font-weight: 900;
}
.star-gray{
  color: #bbb;
  font-weight: 300;
}
.star-active .fa{
  color: #04a74b;
  font-weight: 900;
}
.star-3x {
  font-size: 1.5em;
  width: 100%;
}
.star-stack{
  position: relative;
  display: inline-block;
  width: .9em;
  height: 1em;
  line-height: 2em;
  vertical-align: text-top;
}
.stack-3x{
  width: 3em;
  height: 3em;
}
.review-rating-change-buttons{
  float: right;
  padding: 8px 8px 8px 0;
}
.review-rating-change-buttons a{
  padding: 5px;
  font-size: 1.1em;
}
.change-rating-button{
  padding: 8px;
  cursor: pointer;
}
.review-vote-count{
  font-size: 0.8em;
}
.br-r{
  border-right: 1px solid #e9e9e9;
}
.review-container-footer{
  overflow: hidden;
}

.review-vote-positive:hover{
  color: #04a74b;
}
.review-media-all{
  padding-bottom: 20px;
  overflow: hidden;
}
.review-all-photo-title{
  padding-top: 11px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}
.review-media-add-block{
  float: left;
  margin-right: 18px;
}
.ex-image-additional a{
  padding: 0;
}
.image-crop{
  position: absolute;
  max-width: 500px !important;
  top: -40%;
  left: -40%;
}
.imgbb{
  max-width: 300px !important;
}
#review-extended .ex-image-additional{
  position: relative;
  border: none;
  overflow: hidden;
  margin: 3px 2px 15px;
  padding: 0;
  box-shadow: 1px 1px 5px #00000047;
}
#review-extended .ex-image-additional:hover{
  box-shadow: 0 0 0 0.2rem rgba(0, 9, 255, 0.4);
}
.media-add-button-icon{
  position: absolute;
  top: 7px;
  left: 23px;
  width: 38px;
  height: 34px;
  fill: currentColor;
}
.btn-link-i{
  width: 79px;
  padding: 42px 0 10px;
  font-size: 12px;
  line-height: 16px;
  display: inline-block;
    position: relative;
    border: 0;
    outline: 0;
    color: #4d74b2;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background: 0 0;
    cursor: pointer;
    z-index: 1;
}
.btn-link-i:hover{
  color: #3a83f6;
}
.btn-link-review{
  display: inline-block;
  position: relative;
  outline: 0;
  border-radius: 4px;
  vertical-align: middle;
  cursor: pointer;
  background: #f5f5f5;
  border: 1px solid #e9e9e9;
}
.reviews-user-add-content-block{
  overflow: hidden;
}
.review-media-text-block {
    position: relative;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    color: #888;
    max-width: 270px;
    padding: 0 0 0 53px;
    -ms-flex-order: 1;
    order: 1;
    overflow: hidden;
}
.user-content-add-caption-arrow {
    display: block;
    position: absolute;
    top: 26px;
    left: 0;
    width: 47px;
    height: 22px;
}
.user-review-write-block{
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  padding: 0 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 40px rgb(0 0 0 / 10%);
}
.popup-media-container{
  overflow: hidden;
  margin: auto;
  position: relative;
  width: 640px;
  border-radius: 2px;
  background: #fff;
}
.popup-media-container .mfp-close{
  display: none;
}
.popup-media-nav-tabs{
  width: 50%;
  text-align: center;
}
.tab-content-media{
  min-height: 242px;
}
.dropzone{
  margin: 25px;
  border: 2px dashed #c2c1c1;
}
.fa-custom-lg{
  font-size: 1.63333333em;
  line-height: 1;
  vertical-align: -20%;
}
.m-0{
  margin: 0;
}
.fl-l{
  display: flex;
  justify-content: center;
  align-items: center;
}
.fl-l .form-group{
  width: 100%;
}
.fl-r{
  float: right;
}
.fl-r a{
    background: none;
    color: #337ab7;
}
.fl-r a:hover{
    background: none;
    color: #f84147;
}
.right-side_luxn .input-group{
  width: 60%;
}
.to-write-review{
    float:right;
    margin: 0 0 11px;
}
.btn-light {
  display: block;
  color: var(--btn-default-c);
  background-color: #f9f9f9;
  border: 1px solid #e9e9e9;
}
.btn-light:hover {
    color: var(--btn-default-c-hover);
    background-color: #f5f5f5;
}
.btn-light.focus, .btn-light:focus, .btn-light:active {
    color: var(--btn-default-c);
}
.btn-green{
  color: #fff;
  background-color: #2fa15b;
  border-color: #2fa15b;
  min-width: 100px;
}
.btn-green:hover{
  background-color: #238649;
  border-color: #238649;
}
.btn-green:focus{
  box-shadow: 0 0 0 0.2rem rgba(72,180,97,.5);
}
.btn-green:active{
  background-color: #1c7840;
  border-color: #1c7840;
  box-shadow: 0 0 0 0.2rem rgba(72,180,97,.5);
}
.btn-cancel{
  background: #f5f5f5;
  color: #f84147;
  border: 1px solid #f84147;
  min-width: 100px;
}
.btn-cancel:hover{
  background-color: #f84147;
  color: #fff;
}
.btn-cancel:focus{
  box-shadow: 0 0 0 0.2rem rgba(255, 38, 38, 0.5);
}
.btn-cancel:active{
  background-color: #e94f3e;
  border-color: #e94f3e;
  box-shadow: 0 0 0 0.2rem rgba(255, 38, 38, 0.5);
}
.cheating-button{
  display: inline-block;
  padding: 10px 15px;
  border-radius: 2px;
  background-color: #3076b6;
  color: #fff;
  font-size: 1.5em;
  margin: 10px auto;
}
.cheating-button:hover{
  background-color: #296ca9;
  box-shadow: 0 0 0 0.2rem #1e65a585;
}
.vd-prev:hover .remove_video{
  opacity: 1;
}
.remove_video{
  opacity: .1;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 33px;
  width: 33px;
  border-radius: 30px;
  background: #898989;
  color: #fff;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
}
.remove_video:hover{
  background: #898989;
}
.review_note{
  margin-top: 20px;
}
.m-r-20{
  margin: 0 20% 0 0;
}
.ov-h{
  overflow: hidden;
}
.dropzone .dz-preview .dz-error-message{
  top:150px;
}
.images-user-content-block .dz-success-mark,
.images-user-content-block .dz-error-mark,
.images-user-content-block .dz-size{
  display: none;
}
.images-user-content-block .dz-preview{
  display: inline-block;
  margin: 5px;
  text-align: center;
}
.images-user-content-block .dz-image img{
  border-radius: 2px;
  height: 100px;
  width: 100px;
}
.images-user-content-block .dz-details{
  width: 100px;
  overflow: hidden;
}
.images-user-content-block .vd-prev{
  background: none;
  width: 127px;
  float: left;
  height: 130px;
  margin: 1%;
  border: 0;
  padding: 0 5px;
  border-radius: 15px;
  position: relative;
}
.images-user-content-block .vd-thumb-title-vrapper{
  overflow: initial;
  font-size: 11px;
  line-height: 13px;
  word-break: break-word;
  margin: 0;
}
.images-user-content-block{
  overflow: hidden;
  margin-bottom: 20px;
}
.super-star-text{
  letter-spacing: -.3px;
  font-size: .9em;
  color: #777;
}
.star-block:hover .super-star-text{
  color: #202020;
}
.star-block{
  width: 75px;
  cursor: pointer;
}
.popup-footer{
  padding: 5px 20px 10px;
}
.alert-danger{
  border: 1px solid #e9e9e9;
}
#video-thumb-preview{
  position: relative;
  margin: 20px -20px;
  padding: 5px;
  overflow: hidden;
  background: #f3f3f3;
  min-height: 138px;
}
.vd-prev{
  background: #ffff;
  width: 48%;
  float: left;
  height: 115px;
  margin: 1%;
  border: 1px solid #eaeaea;
  padding: 10px 5px;
  border-radius: 15px;
  position: relative;
}
.vd-thumb-vrapper{
  float: left;
  border-radius: 2px;
}
.vd-thumb-title-vrapper{
  margin-left: 130px;
  position: relative;
  overflow: hidden;
  font-size: 11px;
  line-height: 17px;
  word-break: break-word;
}
.dz-filename span{
  white-space: nowrap;
}
.unireview-sticky{
    position: sticky;
    top: 60px;
}
#form-review h2{
  text-align: center;
  margin-top: 20px;
}
#form-review{
  display: block;
}
.review-answer-container{
  overflow: hidden;
  padding: 5px 5px 10px;
}
.form-group-lx{
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    margin-bottom: 20px;
}
.form-group-lx .pull-right {
    margin-right: 10px;
}
.form-group-lx label{
    margin: 15px 0 5px;
    color: #777;
}
.form-group-lx .form-group {
    margin: 0 0 10px 0;
}
.blur{
      -webkit-filter: blur(5px);
     -moz-filter: blur(5px);
       -o-filter: blur(5px);
      -ms-filter: blur(5px);
          filter: blur(5px);
}

@media (max-width:575px){
.unireview__forms{
  padding: 0 20px;
}
  .all-reviews {
    column-count: auto;
}
#review-extended .fl-l {
    margin-top: 5px;
}

}
@media (max-width:480px){
.all-reviews {
    column-count: auto;
}
.review_note{
  display: block;
  overflow: hidden;
  float: left;
  width: 100%;
  margin: 0;
}
.unireview__forms{
  padding: 0 20px;
}
.m-r-20{
  float: left;
  width: 100%;
  margin: 0 0 15px 0 !important;
}
.star-block{
  width: 61px;
}
.super-star-text{
  letter-spacing: -.3px;
  font-size: .8em;
}
.review-media-text-block{
  display: none;
}
.user-review-write-block{
  padding: 0 7px;
}
.popup-media-container{
  width: 100%;
}
.dz-message h3, .dz-message h4{
  display: none;
}
}
.reviews-thumbnails{
  overflow: hidden;
}
#input-sort{
  height: 32px;
}
#button-review-extended{
  float: right;
  margin: 2px 0 15px;
}
.review-list{
  width: 100%;
  position: relative;
  min-height: 1px;
}
.review-list h4{
  font-size: 1.15em;
}
.review-list .fa-stack{
  width: 1.11em;
}
.review-list .fa-star{
  font-size: 14px;
}
.review-thumb{
  overflow: hidden;
  margin: 0 3px 20px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 40px rgb(0 0 0 / 10%);
}
.review-thumb .image{
  text-align: center;
}
.review-thumb .image img{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 160px;
}
.review-thumb .caption {
    min-height: 0;
    margin-left: 0;
    padding: 15px;
}
@media (min-width: 767px){
.review-thumb .image {
    float: left;
    padding: 15px;
}
.review-thumb .caption {
    min-height: 180px;
}
.review-alert{
  padding: 8px 14px 8px 14px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 2px;
}
.review-container .owl-buttons{
  display: none;
}
}

@media (min-width:767px) and (max-width:992px){
.all-reviews {
 column-count: auto;
}

}

@media (min-width:992px) and (max-width:1200px){
.col-lg-3 {
    width: 45%;
}
.col-lg-9 {
    width: 55%;
}

}

@media (min-width:1180px){
	.col-lg-3 {
    width: 45%;
}
.col-lg-9 {
    width: 55%;
}
}


@media (min-width:1345px){
	.col-lg-3 {
    width: 45%;
}
.col-lg-9 {
    width: 55%;
}	
}