<!--{#<!--{{ header }}-->#}-->
<body class="main-page-body">
<style>
	#menu.menu1 .main-menu__collapse, #subscribe {display:none !important}
	main .container, main .row {height:100%}
	main .col-12 {display:flex;align-items:center;justify-content:center;height:100%}
	main h1 {line-height:1.4em;color:#888}
</style>
<div class="container">
	<div class="row">
	    <div class="technical-work"><img src="/image/catalog/banners/technical-work-for-site.jpg" style="display: flex;margin: 0 auto;">
		<div class="col-12">{{ message }}</div>
	</div>
	</div>
</div>
</body>
<!--{#<!--{{ footer }}-->#}-->